@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --xl: 1140px;
  --lg: 960px;
  --md: 768px;
  --sm: 576px;
  --white: #fff;
  --black: #000;
  --primary: #4586FF;

  --rainbow-linear-gradient: linear-gradient(
      40deg,
      #fff9db,
      rgba(93, 134, 207, 0) 70%
    ),
    linear-gradient(80deg, #fcc419, rgba(237, 238, 232, 0) 70%),
    linear-gradient(80deg, #e67700, rgba(237, 238, 232, 0) 70%),
    linear-gradient(80deg, #f76707, rgba(237, 238, 232, 0) 70%);

  --sm-rainbow-linear-gradient: linear-gradient(
    80deg,
    rgba(243, 200, 70, 0.5),
    rgba(253, 155, 89, 0.6) 70%
  );
  --m-rainbow-linear-gradient: linear-gradient(
    80deg,
    rgba(252, 196, 25, 0.1),
    rgba(247, 103, 7, 0.2) 70%
  );

  --lt-orange-linear-gradient: linear-gradient(
    80deg,
    rgba(238, 210, 126, 0.3),
    rgba(252, 162, 102, 0.3) 70%
  );

  --s-rainbow-linear-gradient: linear-gradient(
    180deg,
    var(--lt-mint-green),
    var(--background-color) 99%
  );

  --mint-linear-gradient: linear-gradient(
    var(--mint-green),
    var(--lt-mint-green)
  );

  --lt-mint-linear-gradient: linear-gradient(
    var(--ltest-mint-green),
    var(--mint-green)
  );
  --ltest-mint-linear-gradient: linear-gradient(
    white,
    var(--ltest-mint-green)
  );

  --grey-linear-gradient: linear-gradient(
    145deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  );
  
  --blob-border-radius: 46% 54% 59% 41% / 49% 60% 40% 51%;
  --blob2-border-radius: 52% 48% 42% 58% / 49% 51% 49% 51%;
  
  --orange-linear-gradient: linear-gradient(to right, var(--orange), var(--md-orange));
  --hotpink: rgba(244, 29, 136, 0.8);
  --orange: #fcc4194d;
  --dark-orange: rgba(247, 103, 7, 0.5);
  --md-yellow: rgba(244, 207, 96, 0.2);
  --sunset-orange: rgba(255, 191, 128, 0.2);
  --lt-orange: rgba(255, 243, 191, 0.4);
  --md-orange: #ffe06680;
  --orange: #fab005;
  --mint-green: #5ef1c8;
  --dark-mint-green: #4ccba7;
  --font-mint-green: #83f5d5;
  --grey: rgba(220, 218, 213, 0.2);
  --dark-orange: rgba(230, 119, 0, 0.6);
  --ltest-mint-green: #5ef1c81a;
  --lt-mint-green: #5ef1c833;
  --m-mint-green: #5ef1c899;
  --text-shadow: -1px 2px 2px #474747;
  --transparent-mint: #5ef1c866;
  --purple: #DCBFFF;
  --lt-purple: #F1EAFF;
  --background-purple: rgb(241, 234, 255, 0.1);
  //--dark-purple: #D0A2F7;
  --dark-purple : #BC7AF9;
  --darkest-purple : #aa5bf5;

  --purple-linear-gradient: linear-gradient(
    var(--purple),
    var(--lt-purple)
  );
  --lt-purple-linear-gradient: linear-gradient(
    var(--lt-purple),
    #fff
  );
  --purple-gradient: linear-gradient(
    var(--dark-purple),
    #fff
  );

  --font-transparent: hsla(0, 0%, 100%, 0.5);
  --font-semi-transparent: hsla(0, 0%, 100%, 0.8);
  --font-color-lt: mix(#fff, #e91e63, 85%);
  --font-color-dark: #1a1b1e;
  --light-color: #f3f2f9;
  --light-slate: #dfdfeb;
  --dark-slate: #1d1d1f;
  --slate: #808080;

  --background-color: #edeae5;
  --background-color-lt: rgb(246, 242, 236);

  --color-heading: #1d1d1f;
  --font-color: #1d1d1fcc;
  --lt-color-heading: #1d1d1fcc;
  --font-color-lt-mode: #1d1d1f;
  --color-icon-bg: #777; 
  --lt-color-font: #edeae5;

  --card-bg: hsla(0, 0%, 100%, 0.25);
  --card-bg-normal: hsla(0, 0%, 100%, 0.6);
  --card-bg-hover: hsla(0, 0%, 100%, 0.5);

  --card-border: 1px solid #fff3;
  --card-border-dark: 1px solid #444;

  --card-border-grey: 1px solid rgb(190, 189, 189);
  --card-border-lt: 2px solid #f3f2f9;
  --card-border-dbl: 2px solid #f3f2f9;

  --card-shadow-s: #00000026 0px 5px 15px 0px;
  --card-shadow-dark: #00000026 0px 10px 15px 0px;
  --m-card-shadow-dark: #000 0px 10px 15px -12px;
  --l-card-shadow-dark: #000 0px 10px 15px -5px;

  --card-gradient: #444;
  --revolving-card-bg: #666;

  --image-shadow: #0f240926 0px 5px 15px 0px;

  --xxs-margin: 0.5rem;
  --xs-margin: 1rem;
  --s-margin: 2rem;
  --m-margin: 4rem;
  --l-margin: 6rem;
  --ll-margin: 8rem;
  --xl-margin: 10rem;
  --xxl-margin: 18rem;

  --xs-padding: 0.5rem;
  --s-padding: 1rem;
  --p-padding: 2rem;
  --m-padding: 4rem;
  --l-padding: 6rem;
  --xl-padding: 10rem;

  --s-border-radius: 5px;
  --m-border-radius: 10px;
  --l-border-radius: 20px;
  --ml-border-radius: 15px;

  --font-subheading: 3.5rem;
  --font-heading: 160px;
  --title-heading: 70px;
  --title-lt-heading: #1d1d1fb3;

  --font-title: 5rem;

  --windowWidth: calc(100vw - var(--scrollbarWidth));

  --titleWeight: var(--fontWeightBold);

  --fontWeightBold: 500;

  --titleFontSize: 34px;
  
  --xxs-font: 0.5rem;
  --xs-font: 0.9rem;
  --s-font: 0.9rem;
  --sm-font: 1.5rem;
  --m-font: 2rem;
  --ml-font: 3rem;
  --l-font: 4rem;
  --lm-font: 7rem;
  --xl-font: 10rem;

  --letter-spacing: 0.01rem;
  --max-width: 1000px;

  --opacity: 0.6;
  --h-opacity: 0.9;
  --m-opacity: 0.4;
  --l-opacity: 0.1;

  --stripe-box-shadow: 0 2px 10px -8px var(--light-charcoal);
  --light-box-shadow: 0 5px 10px -5px var(--slate);
  --green-box-shadow: 0px 1px 10px 1px var(--mint-green);
  --box-shadow: 0 10px 30px -15px var(--light-charcoal);
  --dark-box-shadow: 0 10px 30px -15px var(--charcoal);
  --m-box-shadow: -0.25rem 0.75rem 2rem 0 #0000001a;
  --big-box-shadow: 20px 20px 40px #bebebe, -20px -20px 20px #ffffff;

  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
  font-family: "Inter", sans-serif;
}

$background-dark: rgb(26, 25, 25);
$max-width: 1000px;

@mixin flexprop($par1, $par2, $par3) {
  display: flex;
  flex-direction: $par1;
  justify-content: $par2;
  align-items: $par3;
}

@mixin centering {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

